<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
<div class="container">
    <%- include('./partials/menu') %>
    <div class="contenedor">
        <div class="box1">
            <img src="<%= productSelected.path %>" alt="<%= productSelected.name %>">
            <div class="redes">
                <section><a href="#"><i class="fab fa-instagram"></i></a></section>
                <section><a href="#"><i class="fab fa-whatsapp"></i></a></section>
                <section><a href="#"><i class="fab fa-facebook-square"></i></a></section>
                <section><a href="#"><i class="fas fa-share-alt-square"></i></a></section>
            </div>
        </div>
        <div class="box2">
            <div class="artName">
                <p>Titulo: <%= productSelected.name %></p>

            </div>
            <div class="artPrice">
                <p>Precio: $<%= productSelected.price %></p>
            </div>
            <div class="artDescrip">
                <p>Descripcion</p><br>
                <p><%= productSelected.description %></p>
            </div>
            <button type="submit" class="carrito"><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
    <div class="intereses-box">
        <div class="titulo">
            <p>TAMBIEN PUEDE INTERESARTE</p>
        </div>
        <div class="intereses">
            <section>

                <% productPromotion.forEach(product => { %>
                    <div class="intereses__box_book">
                        <a href="/product/detail/<%= product.id %>"><img src="<%= product.path %>" alt="<%= product.name %>"></a>
                        <p><%= product.name %></p>
                    </div>
                <%});%>
            </section>
        </div>
    </div>
    <%- include('./partials/footer') %>
</div>
</body>
</html>