<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/productDetail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re@dMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/1634170193.ico">
</head>
<body>
<div class="container">
    <%- include('./partials/menu') %>
    <div class="contenedor">
        <div class="box1">
            <img src="<%= productSelected.path %>" alt="<%= productSelected.name %>">
            <div class="redes">
                <section><a href="#"><i class="fab fa-instagram"></i></a></section>
                <section><a href="#"><i class="fab fa-whatsapp"></i></a></section>
                <section><a href="#"><i class="fab fa-facebook-square"></i></a></section>
                <section><a href="#"><i class="fas fa-share-alt-square"></i></a></section>
            </div>
        </div>
        <div class="box2">
            <div class="artName">
                <p>
                    <%= productSelected.name %>
                </p>
            </div>
            <div class="artPrice">
                <p>$<%= productSelected.price %></p>
            </div>
            <div class="artDescrip">
                <p><%= productSelected.description %></p>
            </div>
            <button type="submit" class="carrito"><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
    <div class="intereses-box">
        <div class="titulo">
            <p>TAMBIEN PUEDE INTERESARTE</p>
        </div>
        <div class="intereses">
            <section>
                <% productPromotion.forEach(product => { %>
                    <a href="/product/detail/<%= product.id %>"><img src="<%= product.path %>" alt="<%= product.name %>"></a>
                <%});%>
            </section>
        </div>
    </div>
    <%- include('./partials/footer') %>
</div>
</body>
</html>