<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <%- include('./partials/head') %>
<body>
    <div class="container">
        <%- include('./partials/menu') %>
        <div class="card-list _w100 _flex">
            <div class="form__title">
                <h1>PRODUCTO A EDITAR</h1>
            </div>
            <form action="/product/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form__box-img">
                    <img class="form__img" src=<%= productToEdit.path %> alt="<%= productToEdit.name %>">
                </div><br><br>
                <input type="file" name="image" id="file"/>
                <br><br>
                <label for="name">Book name:</label>
                <input type="text" id="name" name="name" value="<%= productToEdit.name %>"><br><br>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" value="<%= productToEdit.author %>"><br><br>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="<%= productToEdit.price %>"><br><br>
                <label for="description">Description:</label>
                <textarea id="description" name="description"><%= productToEdit.description %> </textarea><br><br>
                <label for="literatureCategory">Literature Category:</label>
                <input type="text" id="literatureCategory" name="literatureCategory" value="<%= productToEdit.literatureCategory%>"><br><br>

                <label for="cars">Ecomerce Category:</label>
                <select id="ecomerceCategory" name="ecomerceCategory">
                    <option value="">N/A</option>
                    <option <% if (productToEdit.ecomerceCategory === 'promotion') { %> selected <% } %> value="promotion">promotion</option>
                    <option <% if (productToEdit.ecomerceCategory === 'bestSeller') { %> selected <% } %> value="bestSeller">bestSeller</option>
                </select>
                <input type="submit" value="Submit">
            </form>

        </div>


        <%- include('./partials/footer') %>

    </div>

</body>
</html>