<!-- <!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{cssStyle:'/css/pages/register.css'}) %>
   
<body>

    <div class="container">
        <%- include('../partials/menu') %>

        <main class="form-register">

                    <form action="/user/createUser" method="POST" enctype="multipart/form-data">
                        <h4>Registro de Usuario</h4>

                        <input class="datos _w100" type="text" id="name" name="name" placeholder="Ingrese su Nombre">

                        <input class="datos _w100" type="text" id="lastname" name="lastname" placeholder="Ingrese su Apellido">

                        <input class="datos _w100" type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario">
                        <% if(locals.errors && errors.email) {%>
                            <div class="text-danger"><%= errors.email.msg %>!</div>
                        <% } %>
                        <input class="datos _w100" type="email" id="email" name="email"
                        placeholder="Ingrese su correo electronico">

                        <input class="datos _w100" type="date" id="birth" name="birth">

                        <input  class="datos _w100" type="text" id="address" name="address" placeholder="ingrese su direccion">

                        <input  class="datos _w100" type="password" id="password" name="password" placeholder="ingrese contrase単a">

                        <input class="datos _w100" type="password" id="passwordRepeat" name="passwordRepeat" placeholder="confirme su contrase単a">

                        <input type="file" name="image" id="file"/><br><br>

                        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                        <input class="_w100" type="submit" id="enviar">
                    </form>
                        

        </main>
    </div>
    
</body>
<script src="/js/registerValidator.js"></script>
</html> -->


<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{cssStyle:'/css/pages/register.css'}) %>
   
<body>

    <div class="container-form">
        <%- include('../partials/menu') %>

        <div class="div.errores">
            <div class="errores">
                <ul>
        
                </ul>
            </div>
        </div>


        <main class="form-register">

                    
                    


                    <h4>Registro de Usuario</h4>
                    

                    <form action="/user/createUser" method="post" class="reservation">
                        <p>
                            <label></label>
                            <input type="text" name="usuario" class="usuario" placeholder="Ingrese su Nombre">
                            <!-- required PARA VALIDAR POR HTML --> 
                        </p>
                        <p>
                            <label></label>
                            <input type="" name="" class="email" placeholder="Ingrese su Apellido">
                        </p>
                        <p>
                            <label> </label>
                            <input type="text" name="apellidos" class="apellidos" placeholder="Ingrese su nombre de usuario">
                        </p>
                        <p>
                            <label> </label>
                            <input type="text" name="descripcion" class="descripcion" placeholder="Ingrese su correo electronico">
                        </p>
                        <p>
                            <label></label>
                            <input type="date" name="fecha">
                        </p>
                
                        
                        <p>
                            <label></label>
                            <input type="text" name="nivel" class="nivel" placeholder="Ingrese su direccion">
                        </p>
                        <p>
                            <label></label>
                            <input type="text" name="domicilio" class="domicilio" placeholder="Ingrese su contrase単a">
                        </p>
                        <p>
                            <label></label>
                            <input type="text" name="experiencia" class="experiencia" placeholder="Confirme su contrase単a">
                        </p>
                        <p>
                            <input type="file" class="form-control"   name="avatar"  placeholder="Debes eligir tu avatar...">
                        </p>
                        <p>
                            <button type="submit">Enviar</button>
                        </p>
                        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                
                        
                    </form>
                        

        </main>
    </div>
    
</body>
<script src="/js/registerValidator.js"></script>
</html>